body {
  font-family: Arial, sans-serif;
}

.hero {
  background-color: #007bff;
  text-align: center;
  padding: 3rem 0;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  background-color: #007bff;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #0056b3;
}

/* Estilos do chat */
.chat {
  padding: 3rem 0;
  text-align: center;
}

.chat-window {
  border: 1px solid none;
  height: 200px;
  overflow-y: scroll;
  padding: 1rem;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.user {
  background-color: #339cff;
}

.bot {
  background-color: #0073a8;
}

.chat-form {
  margin-top: 20px;
  display: flex;
}

.chat-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px 0 0 5px;
}

.chat-form button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
}

.chat-form button:hover {
  background-color: #0056b3;
}

.cart-container {
  position: fixed;
  top: 35%;
  right: 0;
  height: 80%;
  display: none;
  justify-content: center;
  align-items: center;
}

.cart-box {
  padding: 8px 16px;
  background-color: #6f47ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.close-button {
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: #0054a3;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}
